.destination{
    font-size: 2.4rem;
    margin: 0px 80px;
    text-align: center;
    color: black;
    padding-top: 8rem;
  }
  .destination h2{
    margin-bottom: 40px;
  }
  .destination-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
  }
  .destination-item img{
    width: 100%;
    height: 400px;
    object-fit: cover;
    cursor: pointer;
    transition: 0.5s ease;
    border-radius: 20px;
  }
  .destination-item img:hover{
        transform:scale(1.1);
    }
  .destination-item{
    text-align: center;
  }
  .destination-item h3{
    font-size: 1rem;
    color: black;
  }
  .destination-item p{
    font-size: 1rem;
    line-height: 1;
    color: #333;
    padding-top: 10px;
    background-color: rgb(223, 193, 160);
  }
  

  .banner-container {
    background-image: linear-gradient(
        rgba(35, 71, 103, 0.5),
        rgba(35, 71, 103, 0.5)
      ),
      url("../images/bg.jpeg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .banner-container .section-container {
    padding: 10rem 1rem;
    display: flex;
    justify-content: center;
    z-index: -1;
  }
  
  .banner-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    text-align: center;
    color: #fff
  }
  
  .banner-content h2 {
    font-size: 2rem;
    font-weight: 400;
    color: #fff;
  }
  
  